:root {
    --txGrayBlack: #111111;
    --txBlackLight: #333333;
    --txGray: #777777;
    --txOrange: #f18f48;
    --txGreen: #257F65;
    --txWhite: #fff;

    --bgGeen: #257F63;
    --bgWhite: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


/* ====================== INICIO HEADER ======================= */
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 16%;
    padding-top: 10px;
    align-items: center;
    background: var(--bgWhite);
    border-bottom: var(--txOrange) 6px solid;
}

header .nav-bar ul {
    display: flex;
    gap: 26px;
}

header .nav-bar ul li a{
    color: var(--txOrange);
    position: relative;
    padding: 7px 17px;
    border-radius: 6px;
}

#botao-ativo {
    background: var(--bgGeen);
    color: var(--txWhite);
}

header .nav-bar ul li a:hover {
    color: var(--txWhite);
    background: var(--bgGeen);
}

header .carrinho-compras {
    cursor: pointer;
}
/* ========================== FIM HEADER ======================= */


section {
    background: url(../image/background.png), var(--bgGeen);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

section .titulo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    color: var(--txWhite);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
}

section .titulo h1 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
}

section .titulo h1::after, section .titulo h1::before {
    content: '';
    width: 139px;
    height: 1px;
    background: rgba(255, 255, 255, 0.70);
    position: absolute;
    top: 25px;
}

section .titulo h1::after {
    right: -170px;
}

section .titulo h1::before {
    left: -170px;
}

.imagem-marmitando img {
    width: 350px;
}

section .conteudo {
    display: flex;
    justify-content: space-between;
    padding: 10px 16%;
}

.nosso-cardapio .conteudo .cardapio-opcao {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.nosso-cardapio .conteudo .cardapio-opcao .opcao h2 {
    width: 187px;
    text-align: center;
    background-image: url(/image/opcoesfundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--txWhite);
    border-radius: 4px;
}

.nosso-cardapio .conteudo .cardapio-opcao .opcao ul {
    color: var(--txWhite);
    padding-left: 15px;
}

.nosso-cardapio .conteudo .cardapio-opcao .opcao ul li {
    list-style: disc;
}



/* =============== INICIO Section kit-marmitas ==================== */

.kit-marmitas {
    background: url(../image/bg-1.png), var(--bgWhite);
}

.kit-marmitas .titulo {
    color: var(--txOrange);
}

.kit-marmitas .titulo p{
    color: var(--txGray);
}

.kit-marmitas .titulo h1::after, .kit-marmitas .titulo h1::before {
    background: rgba(241, 143, 72, 0.50);
}

.kit-marmitas .conteudo {
    flex-wrap: wrap;
    gap: 7px;
}

.kit-marmitas .conteudo .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    margin: 15px 10px;
    padding-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--bgWhite);
    overflow: hidden;
}

.kit-marmitas .conteudo .produto div {
    overflow: hidden;
}

.kit-marmitas .conteudo .produto img{
    width: 236.02px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: .5s ease-in-out;
    
}

.kit-marmitas .conteudo .produto:hover img {
    transform: scale(1.2);
}

.kit-marmitas .conteudo .produto span {
    color: rgba(119, 119, 119, 0.70);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.kit-marmitas .conteudo .produto h3 {
    width: 229px;
    text-align: center;
    color: var(--txGreen);
    font-size: 12px;
    font-weight: 500;
    min-height: 54px;
}

.kit-marmitas .conteudo .produto .especial-mes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 128px;
    color: var(--txOrange);
    height: 250px;
}
.kit-marmitas .conteudo .produto .preco-botao-comprar {
    color: var(--txGrayBlack);
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.kit-marmitas .conteudo .produto .preco-botao-comprar .botao-comprar {
    display: flex;
    padding: 6px 19px;
    margin-top: 6px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--txOrange);
    border: none;
    color: var(--txWhite);
}